.visit_header {
  font-size: 2em;
  color: black;
  text-align: center;
}

.visit_name {
  font-size: 2em;
  color: #249BF0;
}

.visit_establishment {
  font-size: 1.2em;
  color: #676a6c;
}

.visit_status {
  font-size: 1.2em;
  color: #676a6c;
}

.visit_time {
  font-size: 1.4em;
  color: #676a6c;
}

.visit_row {
  height: 7em !important;
  text-align: center !important;
}

.visit_paginate {
  position: absolute;
  margin-top: 1em;
  width: 80%;
}

.visit_date {
  position: absolute;
  margin-top: -3em;
  width: 80%;
}
