.login_logo {
  position: absolute;
  z-index: 1;
  margin-left: 1.5em;
  margin-top: 1.5em;
}

.login_background {
  position: absolute;
  background-color: #249BF0;
  margin: 0;
  width: 100%;
  height: 45%;
}

.login {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.login_form {
  padding: 2em 7em !important;
}

.login_title {
    font-weight: 400;
}

@media (max-width: 530px) {
  .login_form {
    padding: 2em 2em !important;
  }
}
